table, td, th {
    border: 1px solid #990000;
}

th {
    background-color: #990000;
    color: white;
    text-align: left;
}

td, th {
    padding: 8px;
}

td > img {
    width: 60px;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px 0;
}